header {
  color: #000;
  clear: both;
  background-color: #EEE;
  border-bottom: 1px solid #BBB;
  height: 48px;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
}

/* Portrait View */
@media only screen {
  header > h1 {
    display: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    display: block;
    line-height: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  nav > a {
    color: #444;
    margin: 0px 5px;
  }
}

/* All CSS for landscape style view */
@media only screen and (min-width: 768px) {
  header > span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    margin: 0px 20px;
  }

  nav {
    display: inline-block;
    line-height: 48px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  nav > a {
    color: #444;
    font-size: 12pt;
    margin: 0px 5px;
  }
}
