
.intro {
  background: -webkit-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 60%), url("../img/content.jpg") no-repeat scroll center center / cover;
  background:    -moz-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 60%), url("../img/content.jpg") no-repeat scroll center center / cover;
  background:      -o-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 60%), url("../img/content.jpg") no-repeat scroll center center / cover;
  background:         linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 60%), url("../img/content.jpg") no-repeat scroll center center / cover;
  color: #FFF;
  float: left;
  font-family: 'Raleway', sans-serif;
  height: 480px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.intro h1,
.intro h2 {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
}

.intro h1 {
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.05em;
}

.intro h2 {
  font-size: 1.75em;
  font-weight: 300;
  line-height:1.25em;
  margin-top: 225px;
}

aside#certs {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0 50px;
}

aside#certs p {
  font-weight: 200;
  font-size: 12pt;
  margin-top: 3px;
}

aside#certs h4 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

section#about {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section#about p, li {
  font-weight: 300;
  font-size: 1em;
}

div#aboutme {
  margin: auto;
  max-width: 1280px;
}

aside#certs h1 {
  text-align: left;
}


@media only screen {
  aside#certs {
    border-left: 1px solid #999;
    display: inline-block;
    float: inherit;
    width: 39%;
  }

  section#about {
    display: inline-block;
    float: left;
    margin: 0px 0px;
    padding: 50px 50px;
    width: 60%;
  }

  aside#certs h1 {
    text-align: left;
  }

  aside#certs h4 {
    font-family: 'Quattrocento';
    font-weight: 800;
    font-size: 1em;
    text-align: left;
  }

  aside#certs p {
    font-family: 'Quattrocento';
    text-align: left;
  }

  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    text-align: left;
  }

  p {
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  aside#certs {
    border-left: none;
    display: block;
    float: left;
    width: 100%;
  }

  section#about {
    display: block;
    float: left;
    margin: 50px 0px;
    padding: 0px 50px;
    width: 100%;
  }

  aside#certs h1 {
    text-align: center;
  }

  aside#certs h4 {
    text-align: center;
  }

  aside#certs p {
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  p {
    text-align: left;
  }
}

@media only screen and (max-device-width: 768px) {
  aside#certs {
    border-left: none;
    display: block;
    float: left;
    width: 100%;
  }

  section#about {
    display: block;
    float: left;
    margin: 50px 0px;
    padding: 0px 15px;
    width: 100%;
  }

  aside#certs h1 {
    text-align: center;
  }

  aside#certs h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  aside#certs p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  p {
    text-align: left;
  }
}
