
@media only screen {
  aside {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-top: 48px;
    padding: 0px 50px;
    float: left;
  }

  section {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    float: left;
    margin-top: 48px;
    padding: 0px 50px;
    width: 100%;
  }

}

@media only screen and (min-width: 768px) {

  aside {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: inherit;
    margin-top: 48px;
    padding: 12px 12px 0px 12px;
    width: 29%;
  }

  section {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 48px;
    padding: 12px 40px 0px 40px;
    float: left;
    display: inline-block;
    width: 70%;
  }

}
