{{define "blog"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Scott Greenup</title>

    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/normal.css">
    <link rel="stylesheet" href="static/css/header-fixed.css">

    <!--
    <link href='http://fonts.googleapis.com/css?family=Tinos|Courgette|Handlee|Cookie|Great+Vibes|Sacramento|Rancho|Rochester|Petit+Formal+Script|IM+Fell+DW+Pica|Italianno|Clicker+Script|Aladin|Sofia' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway|Oxygen|Cabin|Poiret+One|Lobster|Libre+Baskerville|Lobster+Two|Coda|Forum|Simonetta' rel='stylesheet' type='text/css'>
    -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    {{template "header"}}

    <section>
      <h1>Software engineer.</h1>
      <p>I am still at student at the University of Sydney, completing a Bachelor of Information Technology (Computer Science). I have a keen interest in networking applications from website backends to the network layer for multiplayer games.</p>
      <p>I have been developing since 2010 in various languages and technologies, recently including programming in Go for Freelancer.com, Haskell for XMonad, and learning NodeJS for this website.</p>
      <p><a href="">Checkout some of my latest projects</a></p>

      <h1>Strong Minded.</h1>
      <p>I love voicing my opinion. I tend to put my foot into the door of any debate going on around me. I love discussing and perfecting ideas, I could spend all day talking about new technologies, space, humanity, politics, vim vs emacs, linux vs mac, galatical civilisation or self-annihilation, this language vs that language, this method vs that method, or anything else that arises.</p>
      <p>It's a curse and a blessing. A blessing due to the way it helps educate me, constantly showing me what I don't know, constantly learning and growing. A curse because it can rub people the wrong way.</p>

      <h1>Games developer.</h1>
      <p>I relish in creating games. They can contain every discipline of software engineering, including AI, networking, graphics, audio, data structures, design patterns, complex algorithms, optimisation techniques, and more.
      <p>I attended the Academy of Interactive Entertainment for 2 years and was pretty serious about becoming a games programmer. I created enumerous games that aren't published, but I helped create <a href="http://www.towncraftgame.com/">TownCraft</a> and will publish some of my older games soon.
      <p>I am currently working on a <a href="">game engine called 3DGE</a>.</p>
      <p><a href="">Checkout some of my other projects</a></p>

      <h1>Travel junkie.</h1>
      <p>I also love to travel. I have a massive <a href="">bucket list</a>. Check out my <a href="">blog</a> or <a href="">photos</a>.</p>
    </section>

    <aside>
      <h2>Quick Links</h2>
      <ul>
        <li><a href="">Element 1</a></li>
        <li><a href="">Element 2</a></li>
        <li><a href="">Element 3</a></li>
        <li><a href="">Element 4</a></li>
        <li><a href="">Element 5</a></li>
        <li><a href="">Element 6</a></li>
      </ul>

    </aside>

    <footer>
      <a href="">LinkedIn</a>
      <a href="">Facebook</a>
      <a href="">Flickr</a>
      <a href="">GitHub</a>
      <a href="">Bitbucket</a>
      <a href="">Stack Overflow</a>
      <a href="">Google+</a>
      <a href="">Twitter</a>
    </footer>
  </body>
</html>
{{end}}
