{{define "blog"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Scott Greenup</title>

    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/normal.css">
    <link rel="stylesheet" href="static/css/header-fixed.css">

    <!--
    <link href='http://fonts.googleapis.com/css?family=Tinos|Courgette|Handlee|Cookie|Great+Vibes|Sacramento|Rancho|Rochester|Petit+Formal+Script|IM+Fell+DW+Pica|Italianno|Clicker+Script|Aladin|Sofia' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway|Oxygen|Cabin|Poiret+One|Lobster|Libre+Baskerville|Lobster+Two|Coda|Forum|Simonetta' rel='stylesheet' type='text/css'>
    -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    {{template "header"}}

    <section>
      {{template "blog_content"}}
    </section>

    <aside>
      <h2>Quick Links</h2>
      <ul>
        <li><a href="">Element 1</a></li>
        <li><a href="">Element 2</a></li>
        <li><a href="">Element 3</a></li>
        <li><a href="">Element 4</a></li>
        <li><a href="">Element 5</a></li>
        <li><a href="">Element 6</a></li>
      </ul>

    </aside>

    <footer>
      <a href="">LinkedIn</a>
      <a href="">Facebook</a>
      <a href="">Flickr</a>
      <a href="">GitHub</a>
      <a href="">Bitbucket</a>
      <a href="">Stack Overflow</a>
      <a href="">Google+</a>
      <a href="">Twitter</a>
    </footer>
  </body>
</html>
{{end}}
