{{define "blog"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Scott Greenup</title>

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/intro.css">
    <link rel="stylesheet" href="/static/css/header-normal.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body>

    {{template "header"}}

    <div class="content">
      <section id="blog">
        {{template "blog_content"}}
      </section>
    </div>

    <!-- <script src="static/js/syntax.js"></script> -->

    {{template "footer"}}
  </body>
</html>
{{end}}
