{{define "footer"}}
    <footer>
      <a href="https://au.linkedin.com/in/scott-greenup-84719b60">LinkedIn</a>
      <a href="http://facebook.com/scottgreenup">Facebook</a>
      <a href="http://github.com/scottgreenup">GitHub</a>
      <a href="http://flickr.com/scottgreenup">Flickr</a>
    </footer>

    <div id="copyright">
      <p>Scott Greenup 2016</p>
      <p>Icons designed by <a href="http://www.freepik.com/">Freepik</a> and distributed by <a href="http://www.flaticon.com/">Flaticon</a></p>
      <p>Image from <a href="https://www.nasa.gov/image-feature/space-station-flyover-of-the-mediterranean/">NASA</a></p>
    </div>
{{end}}
