{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Scott Greenup</title>

    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/intro.css">
    <link rel="stylesheet" href="static/css/header-normal.css">

    <!--
    <link href='http://fonts.googleapis.com/css?family=Tinos|Courgette|Handlee|Cookie|Great+Vibes|Sacramento|Rancho|Rochester|Petit+Formal+Script|IM+Fell+DW+Pica|Italianno|Clicker+Script|Aladin|Sofia' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway|Oxygen|Cabin|Poiret+One|Lobster|Libre+Baskerville|Lobster+Two|Coda|Forum|Simonetta' rel='stylesheet' type='text/css'>
    -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    {{template "header"}}

    <div class="intro">
      <h1>Software Engineer. Travel Junkie. Hobbyist Games Developer. Web Security Enthusiast. University Student. Linux Advocate. Riddle Addict.</h1>
      <h2>Move fast and break things.</h2>
    </div>

    <div class="container" id="aboutme">
    <section id="about">

      <h1>Software engineer.</h1>
      <p>I've taken up engineering as my career and passion. I am still at student at the <a href="http://sydney.edu.au/">University of Sydney</a>, completing a <a href="http://sydney.edu.au/courses/bachelor-of-information-technology">Bachelor of Information Technology (Computer Science)</a>. I have a keen interest in networking applications; including website backends and multiplayer games. I've done work and </p>
      <p><a href="http://github.com/scottgreenup">Checkout some of my latest projects</a></p>

      <h1>Travel junkie.</h1>
      <p>I love travelling. I am hooked. Over the past few years I've been to New Zealand, Japan, and The United States. New Zealand was absolutely stunning and I would highly recommend visiting the South Island; I distinctly remember a moment where we were driving along and forgot to take photos because of how beautiful it was. Japan was a country with beautiful culture and delicious food; I could go back to Tokyo again and again. I am currently in the States and enjoying life in Mountain View.</p>

      <h1>Games developer.</h1>
      <p>I relish in creating games. They can contain every discipline of software engineering, including AI, networking, graphics, audio, data structures, design patterns, complex algorithms, optimisation techniques, and more.</p>

      <h1>Security enthusiast.</h1>
      <p>The internet is colossal and it is growing at stupendous rate. Security is becoming a requirement and it is an interesting area that affects every website. It's amazing what comes out of the wood-work.</p>

    </section>

    <aside id="certs">
      <h1>Education</h1>
      <h4>BIT in Computer Science</h4>
      <p>University of Sydney<br />
      2013&ndash;present</p>

      <h4>Adv. Dip. in Games Programming</h4>
      <p>Academy of Interactive Entertainment<br />
      2011&ndash;2012</p>

      <h4>Certificate II in Information Technology</h4>
      <p>Academy of Interactive Entertainment<br />
      2009</p>

      <h4>Certificate II in Creative Media</h4>
      <p>Academy of Interactive Entertainment<br />
      2009</p>

      <h1>Experience</h1>
      <h4>Internship at Google</h4>
      <p>Mountain View, USA<br />
      Nov 2015&ndash;Feb 2016</p>

      <h4>Internship at Facebook</h4>
      <p>Menlo Park, USA<br />
      Aug 2015&ndash;Nov 2015</p>

      <h4>Internship at Freelancer.com</h4>
      <p>Sydney, Australia<br />
      Nov 2013&ndash;Mar 2015</p>
    </aside>



    </div>

    <footer>
      <a href="">LinkedIn</a>
      <a href="">Facebook</a>
      <a href="">GitHub</a>
      <a href="">Bitbucket</a>
      <a href="">Stack Overflow</a>
    </footer>
  </body>
</html>
{{end}}
